<h1>Editing device</h1>

<%= render "form", device: @device %>

<br>

<div>
  <%= link_to "Show", @device, class:"btn btn-secondary" %> 
  <%= link_to "Back", devices_path, class:"btn btn-dark" %>
</div>
